<div class="container space-bottom space-top">
  <div class="card card-primary">
    <div class="card-header">Types</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="list-inline">
            <a routerLink="/dropdowns/dropdown-1" class="list-inline-item">dropdown 1</a>
            <a routerLink="/dropdowns/dropdown-2" class="list-inline-item">dropdown 2</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
