<div class="container space-bottom space-top">
  <div class="card card-primary">
    <div class="card-header">Types</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="list-inline">
            <a routerLink="/buttons/button-1" class="list-inline-item">button 1</a>
            <a routerLink="/buttons/button-2" class="list-inline-item">button 2</a>
            <a routerLink="/buttons/button-3" class="list-inline-item">button 3</a>
            <a routerLink="/buttons/button-4" class="list-inline-item">button 4</a>
            <a routerLink="/buttons/button-5" class="list-inline-item">button 5</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
