<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular Bootstrap Templates</h2>
  </div>
  <div class="card card-primary">
    <div class="card-header">Sections</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="list-inline">
            <a routerLink="/headers" class="list-inline-item">headers</a>
            <a routerLink="/jumbotrons" class="list-inline-item">jumbotrons</a>
            <a routerLink="/buttons" class="list-inline-item">buttons</a>
            <a routerLink="/dropdowns">dropdowns</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>

