<div class="container">
  <div class="page-header">
    large
  </div>
</div>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-lg btn-primary">Primary</button>
    <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
    <button type="button" class="btn btn-lg btn-success">Success</button>
    <button type="button" class="btn btn-lg btn-danger">Danger</button>
    <button type="button" class="btn btn-lg btn-warning">Warning</button>
    <button type="button" class="btn btn-lg btn-info">Info</button>
    <button type="button" class="btn btn-lg btn-light">Light</button>
    <button type="button" class="btn btn-lg btn-dark">Dark</button>

    <button type="button" class="btn btn-lg btn-link">Link</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <button type="button" class="btn btn-lg btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-lg btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-lg btn-outline-success">Success</button>
    <button type="button" class="btn btn-lg btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-lg btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-lg btn-outline-info">Info</button>
    <button type="button" class="btn btn-lg btn-outline-light">Light</button>
    <button type="button" class="btn btn-lg btn-outline-dark">Dark</button>
    <button type="button" class="btn btn-lg btn-outline-link">Link</button>
  </div>
</div>
<div class="container">
  <div class="page-header">
    small
  </div>
</div>

<div class="container">
  <div class="row">
    <button type="button" class="btn btn-sm btn-primary">Primary</button>
    <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
    <button type="button" class="btn btn-sm btn-success">Success</button>
    <button type="button" class="btn btn-sm btn-danger">Danger</button>
    <button type="button" class="btn btn-sm btn-warning">Warning</button>
    <button type="button" class="btn btn-sm btn-info">Info</button>
    <button type="button" class="btn btn-sm btn-light">Light</button>
    <button type="button" class="btn btn-sm btn-dark">Dark</button>

    <button type="button" class="btn btn-sm btn-link">Link</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <button type="button" class="btn btn-sm btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-sm btn-outline-success">Success</button>
    <button type="button" class="btn btn-sm btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-sm btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-sm btn-outline-info">Info</button>
    <button type="button" class="btn btn-sm btn-outline-light">Light</button>
    <button type="button" class="btn btn-sm btn-outline-dark">Dark</button>
    <button type="button" class="btn btn-sm btn-outline-link">Link</button>
  </div>
</div>
